@charset "utf-8";

$primary: #349663;
@import "~bulma/sass/utilities/_all.sass";
$link: findDarkColor($green);

$body-font-size: 1.2em;
$widescreen-enabled: false;
$fullhd-enabled: false;
$box-background-color: #f9f9f9;

$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.6), 0 0px 0 1px rgba($scheme-invert, 0.02);
$input-placeholder-color: $grey-darker;
$body-line-height: 1.6;

.wrapped {
  flex-wrap: wrap;
}

section {
  background-color: $white;
}

// Import only what you need from Bulma
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/helpers/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/other";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/form/all";

@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/breadcrumb";
@import "~bulma/sass/layout/all";


.not_so_grey.input[disabled] {
  color: $text;
  background: $white-bis;
}

a {
  text-shadow: $red;
}
section p > a {
  background: findLightColor($green);
  text-decoration: underline;
}